[Desktop Entry]
Type=Application
Name=PowerShell
Comment= A PowerShell preview bin
Exec=/usr/bin/bsp-powershell
Icon=Exodia-PowerShell
Terminal=false
Categories=System;TerminalEmulator